doctype html 
html 
    head 
        title= 'Giris ve Kayit Sistemi'
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/styles.css')
    
    body 
        div.container.listing-reg 
            h1 Yeni bir App! 

            block content 